* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #1548;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    width: 620px;
    height: 470px;
    margin: 20px auto 0;
    border: 10px solid silver;
    font-size: 0;
}

img {
    width: 200px;
    height: 150px;
    display: inline-block;
}